body{
    background-image: url(new\ yark.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    margin: 0;
}
.digital_clock{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
#clock{
    font-size: 4.8rem;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    color: white;
    /* backdrop-filter: blur(1px); */
    background-color: hsla(0, 0%,100%, 0.1);
    width: 100%;
}
@media screen and (max-width:470.98px) {
    #clock{
    font-size: 2.6rem;
    }
}
@media (min-width:756.98px) and (max-width:1400px){
    #clock{
    font-size: 6.6rem;
    }
}